 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 890px;
}

.u-section-1 .u-shape-1 {
  transform-origin: center center;
  height: 852px;
  margin-top: 19px;
  margin-bottom: 0;
  transform: scaleX(-1);
}

.u-section-1 .u-text-1 {
  margin: -724px auto 0 97px;
}

.u-section-1 .u-btn-1 {
  --radius: 3px;
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  box-shadow: 0px -2px 8px 0px rgba(128,128,128,1);
  margin: 51px auto 0 85px;
  padding: 6px 46px 8px 44px;
}

.u-section-1 .u-icon-1 {
  font-size: 2.6667em;
  margin-left: 5px;
}

.u-section-1 .u-btn-2 {
  --radius: 3px;
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  box-shadow: 0px -2px 8px 0px rgba(128,128,128,1);
  margin: -78px auto 0 401px;
  padding: 6px 46px 8px 44px;
}

.u-section-1 .u-icon-2 {
  font-size: 2.6667em;
  margin-left: 5px;
}

.u-section-1 .u-btn-3 {
  --radius: 3px;
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  box-shadow: -2px 0px 8px 0px rgba(128,128,128,1);
  margin: 19px auto 0 123px;
  padding: 6px 46px 8px 44px;
}

.u-section-1 .u-icon-3 {
  font-size: 2.6667em;
  margin-left: 5px;
}

.u-section-1 .u-btn-4 {
  --radius: 3px;
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  box-shadow: 0px -2px 8px 0px rgba(128,128,128,1);
  margin: -78px 339px 0 auto;
  padding: 6px 46px 8px 44px;
}

.u-section-1 .u-icon-4 {
  font-size: 2.6667em;
  margin-left: 5px;
}

.u-section-1 .u-btn-5 {
  --radius: 3px;
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  box-shadow: 0px -2px 8px 0px rgba(128,128,128,1);
  margin: -79px 121px 0 auto;
  padding: 6px 46px 8px 44px;
}

.u-section-1 .u-icon-5 {
  font-size: 2.6667em;
  margin-left: 5px;
}

.u-section-1 .u-btn-6 {
  --radius: 3px;
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  box-shadow: 0px -2px 8px 0px rgba(128,128,128,1);
  margin: -178px 244px 0 auto;
  padding: 6px 46px 8px 44px;
}

.u-section-1 .u-icon-6 {
  font-size: 2.6667em;
  margin-left: 5px;
}

.u-section-1 .u-btn-7 {
  --radius: 3px;
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  box-shadow: 0px -2px 8px 0px rgba(128,128,128,1);
  margin: 20px auto 0 392px;
  padding: 6px 46px 8px 44px;
}

.u-section-1 .u-icon-7 {
  font-size: 2.6667em;
  margin-left: 5px;
}

.u-section-1 .u-btn-8 {
  --radius: 3px;
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  box-shadow: -2px 2px 8px 0px rgba(128,128,128,1);
  margin: 20px auto 0 225px;
  padding: 6px 46px 8px 44px;
}

.u-section-1 .u-icon-8 {
  font-size: 2.6667em;
  margin-left: 5px;
}

.u-section-1 .u-btn-9 {
  --radius: 3px;
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  box-shadow: 0px -2px 8px 0px rgba(128,128,128,1);
  margin: -79px auto 0 455px;
  padding: 6px 46px 8px 44px;
}

.u-section-1 .u-icon-9 {
  font-size: 2.6667em;
  margin-left: 5px;
}

.u-section-1 .u-btn-10 {
  --radius: 3px;
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  box-shadow: 0px -2px 8px 0px rgba(128,128,128,1);
  margin: -79px 252px 0 auto;
  padding: 6px 46px 8px 44px;
}

.u-section-1 .u-icon-10 {
  font-size: 2.6667em;
  margin-left: 5px;
}

.u-section-1 .u-btn-11 {
  --radius: 3px;
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  box-shadow: -2px 0px 8px 0px rgba(128,128,128,1);
  margin: 20px auto 0 301px;
  padding: 6px 46px 8px 44px;
}

.u-section-1 .u-icon-11 {
  font-size: 2.6667em;
  margin-left: 5px;
}

.u-section-1 .u-btn-12 {
  --radius: 3px;
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  box-shadow: -2px 0px 8px 0px rgba(128,128,128,1);
  margin: -79px 385px 0 auto;
  padding: 6px 46px 8px 44px;
}

.u-section-1 .u-icon-12 {
  font-size: 2.6667em;
  margin-left: 5px;
}

.u-section-1 .u-btn-13 {
  --radius: 3px;
  border-style: solid;
  font-weight: 700;
  font-size: 0.9375rem;
  box-shadow: 2px 0px 8px 0px rgba(128,128,128,1);
  margin: -79px 142px 0 auto;
  padding: 6px 46px 8px 44px;
}

.u-section-1 .u-icon-13 {
  font-size: 2.6667em;
  margin-left: 5px;
}

.u-section-1 .u-btn-14 {
  font-weight: 700;
  font-size: 1.125rem;
  letter-spacing: 0px;
  text-transform: uppercase;
  margin: 50px 326px 60px auto;
  padding: 0;
}

.u-section-1 .u-icon-14 {
  margin-left: 4px;
  vertical-align: 0px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-shape-1 {
    margin-top: -160px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 201px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-4 {
    margin-right: 139px;
  }

  .u-section-1 .u-btn-5 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-6 {
    margin-right: 44px;
  }

  .u-section-1 .u-btn-7 {
    margin-left: 192px;
  }

  .u-section-1 .u-btn-8 {
    margin-left: 25px;
  }

  .u-section-1 .u-btn-9 {
    margin-top: 42px;
    margin-left: 255px;
  }

  .u-section-1 .u-btn-10 {
    margin-right: 52px;
  }

  .u-section-1 .u-btn-11 {
    margin-left: 101px;
  }

  .u-section-1 .u-btn-12 {
    margin-right: 185px;
  }

  .u-section-1 .u-btn-13 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-14 {
    margin-right: 126px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 891px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 46px;
    transform-origin: center center 0px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -769px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 509px;
    margin-left: 135px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -567px;
    margin-left: 44px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: auto;
  }

  .u-section-1 .u-btn-4 {
    margin-top: -177px;
    margin-right: 188px;
  }

  .u-section-1 .u-btn-5 {
    margin-top: 20px;
    margin-right: 20px;
  }

  .u-section-1 .u-btn-6 {
    margin-top: 120px;
    margin-right: 177px;
  }

  .u-section-1 .u-btn-7 {
    margin-top: -279px;
    margin-left: 16px;
  }

  .u-section-1 .u-btn-8 {
    margin-top: 23px;
    margin-right: 227px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-9 {
    margin-top: 113px;
    margin-left: 116px;
  }

  .u-section-1 .u-btn-10 {
    margin-top: -174px;
    margin-right: auto;
    margin-left: 116px;
  }

  .u-section-1 .u-btn-11 {
    margin-top: -177px;
    margin-right: 20px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-12 {
    margin-right: auto;
    margin-left: 24px;
  }

  .u-section-1 .u-btn-13 {
    margin-top: 113px;
    margin-right: 137px;
  }

  .u-section-1 .u-btn-14 {
    margin: 129px auto 57px 236px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-4 {
    margin-right: 8px;
  }

  .u-section-1 .u-btn-5 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-6 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-7 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-8 {
    margin-right: 47px;
  }

  .u-section-1 .u-btn-9 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-10 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-11 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-12 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-13 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-14 {
    margin-left: 56px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 906px;
  }

  .u-section-1 .u-shape-1 {
    height: 192px;
    margin-top: 23px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -129px;
    margin-left: 31px;
    margin-right: 31px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 174px;
    margin-left: -18px;
    padding: 7px 13px 7px 12px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 118px;
    margin-right: -37px;
    margin-left: auto;
    padding: 7px 8px 7px 7px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: -79px;
    margin-left: -33px;
    padding: 7px 12px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: -181px;
    margin-right: auto;
    margin-left: -50px;
    padding: 7px 21px 7px 19px;
  }

  .u-section-1 .u-btn-5 {
    margin-top: -79px;
    margin-right: auto;
    margin-left: 98px;
    padding: 7px 15px 7px 14px;
  }

  .u-section-1 .u-btn-6 {
    margin-top: -274px;
    margin-right: auto;
    margin-left: 97px;
    padding: 7px 8px;
  }

  .u-section-1 .u-btn-7 {
    margin-top: 19px;
    margin-right: -32px;
    margin-left: auto;
    padding: 7px 8px;
  }

  .u-section-1 .u-btn-8 {
    margin-top: -177px;
    margin-right: auto;
    margin-left: -50px;
    padding: 7px 10px 7px 8px;
  }

  .u-section-1 .u-btn-9 {
    margin-top: 321px;
    margin-right: 0;
    margin-left: auto;
    padding: 7px 13px;
  }

  .u-section-1 .u-btn-10 {
    margin-top: -285px;
    margin-right: -50px;
    margin-left: auto;
    padding: 7px 8px;
  }

  .u-section-1 .u-btn-11 {
    margin-top: 126px;
    margin-right: auto;
    margin-left: 23px;
    padding: 7px 14px 7px 12px;
  }

  .u-section-1 .u-btn-12 {
    margin-top: 23px;
    margin-left: auto;
    padding: 7px 9px 7px 8px;
  }

  .u-section-1 .u-btn-13 {
    margin-top: -584px;
    margin-right: -50px;
    padding: 7px 13px 7px 12px;
  }

  .u-section-1 .u-btn-14 {
    margin: 549px 0 23px auto;
  }
}