 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1558px;
}

.u-section-1 .u-text-1 {
  margin: 26px auto 0 0;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 358px;
  --radius: 20px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-form-1 {
  margin-top: 0;
  margin-bottom: 0;
  height: 355px;
}

.u-section-1 .u-form-group-1 {
  margin-left: 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 358px;
  --radius: 20px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  font-size: 1.25rem;
  margin: 0 auto;
  padding: 0;
}

.u-section-1 .u-icon-1 {
  font-size: 4.5em;
}

.u-section-1 .u-group-1 {
  --radius: 10px;
  height: auto;
  min-height: 943px;
  margin-top: 26px;
  margin-bottom: 60px;
}

.u-section-1 .u-container-layout-3 {
  padding: 2px 0;
}

.u-section-1 .u-text-2 {
  margin: 77px auto 0 40px;
}

.u-section-1 .u-form-2 {
  height: 494px;
  width: 1082px;
  margin: 30px auto 0;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
  margin-bottom: 15px !important;
}

.u-section-1 .u-label-2 {
  letter-spacing: 0px;
  width: 65px;
}

.u-section-1 .u-input-2 {
  background-image: none;
  --radius: 10px;
  height: 50px;
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 15px !important;
}

.u-section-1 .u-label-3 {
  letter-spacing: 0px;
  width: 65px;
}

.u-section-1 .u-input-3 {
  background-image: none;
  --radius: 10px;
  height: 50px;
}

.u-section-1 .u-form-group-5 {
  margin-left: 0;
}

.u-section-1 .u-label-4 {
  letter-spacing: 0px;
  width: 65px;
}

.u-section-1 .u-input-4 {
  background-image: none;
  --radius: 10px;
  height: 50px;
}

.u-section-1 .u-form-group-6 {
  margin-left: 0;
}

.u-section-1 .u-label-5 {
  letter-spacing: 0px;
  width: 65px;
}

.u-section-1 .u-input-5 {
  background-image: none;
  --radius: 10px;
  height: 50px;
}

.u-section-1 .u-form-group-7 {
  margin-left: 0;
}

.u-section-1 .u-label-6 {
  letter-spacing: 0px;
  width: 65px;
}

.u-section-1 .u-input-6 {
  background-image: none;
  --radius: 10px;
  height: 50px;
}

.u-section-1 .u-form-group-8 {
  margin-left: 0;
}

.u-section-1 .u-label-7 {
  letter-spacing: 0px;
  width: 65px;
}

.u-section-1 .u-input-7 {
  background-image: none;
  --radius: 10px;
  height: 50px;
}

.u-section-1 .u-form-group-9 {
  margin-left: 0;
}

.u-section-1 .u-label-8 {
  letter-spacing: 0px;
  width: 65px;
}

.u-section-1 .u-input-8 {
  background-image: none;
  --radius: 10px;
  height: 50px;
}

.u-section-1 .u-form-group-10 {
  margin-left: 0;
}

.u-section-1 .u-label-9 {
  letter-spacing: 0px;
  width: 65px;
}

.u-section-1 .u-input-9 {
  background-image: none;
  --radius: 10px;
  height: 50px;
}

.u-section-1 .u-form-group-11 {
  margin-left: 0;
  margin-bottom: 15px !important;
}

.u-section-1 .u-label-10 {
  letter-spacing: 0px;
  width: 65px;
}

.u-section-1 .u-input-10 {
  background-image: none;
  height: 50px;
  --radius: 10px;
}

.u-section-1 .u-form-group-12 {
  margin-left: 0;
  margin-bottom: 15px !important;
}

.u-section-1 .u-label-11 {
  letter-spacing: 0px;
  width: 65px;
}

.u-section-1 .u-input-11 {
  background-image: none;
  height: 50px;
  --radius: 10px;
}

.u-section-1 .u-form-group-13 {
  margin-left: 0;
  margin-bottom: 15px !important;
}

.u-section-1 .u-label-12 {
  letter-spacing: 0px;
  width: 65px;
}

.u-section-1 .u-input-12 {
  background-image: none;
  --radius: 10px;
}

.u-section-1 .u-form-group-14 {
  margin-left: 0;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  text-transform: uppercase;
  font-size: 1.125rem;
  --radius: 10px;
  font-weight: 400;
  padding: 16px 59px 17px 58px;
}

.u-section-1 .u-btn-4 {
  border-style: solid;
  font-size: 1.25rem;
  background-image: none;
  margin: -91px 239px 0 auto;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1479px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 295px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 295px;
    background-position: 50% 50%;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-form-2 {
    width: 940px;
  }

  .u-section-1 .u-input-12 {
    height: 50px;
  }

  .u-section-1 .u-btn-3 {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-btn-4 {
    margin-right: 39px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1207px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 285px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-form-2 {
    width: 720px;
  }

  .u-section-1 .u-btn-4 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1307px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 428px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-form-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-layout-cell-2 {
    min-height: 269px;
  }

  .u-section-1 .u-group-1 {
    min-height: 1012px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-text-2 {
    margin-top: 79px;
  }

  .u-section-1 .u-form-2 {
    width: 340px;
  }

  .u-section-1 .u-btn-3 {
    padding-right: 59px;
    padding-left: 58px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: -90px;
    margin-right: 113px;
    margin-bottom: -1px;
  }
}