.u-section-1 .u-sheet-1 {
  min-height: 83px;
}

.u-section-1 .u-form-1 {
  height: 208px;
  width: 830px;
  margin: 14px auto 0;
}

.u-section-1 .u-form-group-1 {
  margin-left: 0;
}

.u-section-1 .u-form-group-2 {
  margin-left: 0;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-btn-1 {
  padding-top: 10px;
  padding-bottom: 10px;
}

@media (max-width: 991px) {
  .u-section-1 .u-form-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-form-1 {
    width: 340px;
  }
} .u-section-2 {
  background-image: linear-gradient(#e9f2fa, #adcce9);
}

.u-section-2 .u-sheet-1 {
  min-height: 2486px;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  margin: 30px auto 0 58px;
}

.u-section-2 .u-list-1 {
  margin: 12px 0 0;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(1, 100%);
  min-height: 2306px;
  grid-auto-columns: 100%;
  grid-gap: 22px;
}

.u-section-2 .u-list-item-1 {
  box-shadow: 5px 5px 19px 0 rgba(0,0,0,0.15);
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 18px;
}

.u-section-2 .u-group-elements-1 {
  width: 1035px;
  min-height: 237px;
  margin: 57px auto 0 22px;
}

.u-section-2 .u-text-2 {
  text-transform: none;
  letter-spacing: normal;
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0 521px 0 224px;
}

.u-section-2 .u-image-1 {
  width: 174px;
  height: 174px;
  background-image: url("images/ec6da3db-d4a7-cbc8-c959-57cb2f78738d.jpg");
  background-position: 50% 50%;
  margin: -12px auto 0 0;
}

.u-section-2 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: -162px 0 0 auto;
  padding: 10px 59px 10px 57px;
}

.u-section-2 .u-text-3 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: -36px auto 0 301px;
}

.u-section-2 .u-text-4 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 18px auto 0 302px;
}

.u-section-2 .u-text-5 {
  font-size: 0.875rem;
  margin: 20px 581px 0 302px;
}

.u-section-2 .u-btn-2 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: -78px 0 0 auto;
  padding: 10px 38px;
}

.u-section-2 .u-text-6 {
  font-size: 1.25rem;
  margin: 36px 898px 0 37px;
}

.u-section-2 .u-icon-1 {
  font-size: 0.9584em;
  vertical-align: 0px;
  margin-left: 0;
}

.u-section-2 .u-list-item-2 {
  box-shadow: 5px 5px 19px 0 rgba(0,0,0,0.15);
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 18px;
}

.u-section-2 .u-group-elements-2 {
  width: 1035px;
  min-height: 237px;
  margin: 57px auto 0 22px;
}

.u-section-2 .u-text-7 {
  text-transform: none;
  letter-spacing: normal;
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0 521px 0 224px;
}

.u-section-2 .u-image-2 {
  width: 174px;
  height: 174px;
  background-image: url("images/ec6da3db-d4a7-cbc8-c959-57cb2f78738d.jpg");
  background-position: 50% 50%;
  margin: -12px auto 0 0;
}

.u-section-2 .u-btn-3 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: -162px 0 0 auto;
  padding: 10px 59px 10px 57px;
}

.u-section-2 .u-text-8 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: -36px auto 0 301px;
}

.u-section-2 .u-text-9 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 18px auto 0 302px;
}

.u-section-2 .u-text-10 {
  font-size: 0.875rem;
  margin: 20px 581px 0 302px;
}

.u-section-2 .u-btn-4 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: -78px 0 0 auto;
  padding: 10px 38px;
}

.u-section-2 .u-text-11 {
  font-size: 1.25rem;
  margin: 36px 898px 0 37px;
}

.u-section-2 .u-icon-2 {
  font-size: 0.9584em;
  vertical-align: 0px;
  margin-left: 0;
}

.u-section-2 .u-list-item-3 {
  box-shadow: 5px 5px 19px 0 rgba(0,0,0,0.15);
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 18px;
}

.u-section-2 .u-group-elements-3 {
  width: 1035px;
  min-height: 237px;
  margin: 57px auto 0 22px;
}

.u-section-2 .u-text-12 {
  text-transform: none;
  letter-spacing: normal;
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0 521px 0 224px;
}

.u-section-2 .u-image-3 {
  width: 174px;
  height: 174px;
  background-image: url("images/ec6da3db-d4a7-cbc8-c959-57cb2f78738d.jpg");
  background-position: 50% 50%;
  margin: -12px auto 0 0;
}

.u-section-2 .u-btn-5 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: -162px 0 0 auto;
  padding: 10px 59px 10px 57px;
}

.u-section-2 .u-text-13 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: -36px auto 0 301px;
}

.u-section-2 .u-text-14 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 18px auto 0 302px;
}

.u-section-2 .u-text-15 {
  font-size: 0.875rem;
  margin: 20px 581px 0 302px;
}

.u-section-2 .u-btn-6 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: -78px 0 0 auto;
  padding: 10px 38px;
}

.u-section-2 .u-text-16 {
  font-size: 1.25rem;
  margin: 36px 898px 0 37px;
}

.u-section-2 .u-icon-3 {
  font-size: 0.9584em;
  vertical-align: 0px;
  margin-left: 0;
}

.u-section-2 .u-list-item-4 {
  box-shadow: 5px 5px 19px 0 rgba(0,0,0,0.15);
}

.u-section-2 .u-container-layout-4 {
  padding: 30px 18px;
}

.u-section-2 .u-group-elements-4 {
  width: 1035px;
  min-height: 237px;
  margin: 57px auto 0 22px;
}

.u-section-2 .u-text-17 {
  text-transform: none;
  letter-spacing: normal;
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0 521px 0 224px;
}

.u-section-2 .u-image-4 {
  width: 174px;
  height: 174px;
  background-image: url("images/ec6da3db-d4a7-cbc8-c959-57cb2f78738d.jpg");
  background-position: 50% 50%;
  margin: -12px auto 0 0;
}

.u-section-2 .u-btn-7 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: -162px 0 0 auto;
  padding: 10px 59px 10px 57px;
}

.u-section-2 .u-text-18 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: -36px auto 0 301px;
}

.u-section-2 .u-text-19 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 18px auto 0 302px;
}

.u-section-2 .u-text-20 {
  font-size: 0.875rem;
  margin: 20px 581px 0 302px;
}

.u-section-2 .u-btn-8 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: -78px 0 0 auto;
  padding: 10px 38px;
}

.u-section-2 .u-text-21 {
  font-size: 1.25rem;
  margin: 36px 898px 0 37px;
}

.u-section-2 .u-icon-4 {
  font-size: 0.9584em;
  vertical-align: 0px;
  margin-left: 0;
}

.u-section-2 .u-list-item-5 {
  box-shadow: 5px 5px 19px 0 rgba(0,0,0,0.15);
}

.u-section-2 .u-container-layout-5 {
  padding: 30px 18px;
}

.u-section-2 .u-group-elements-5 {
  width: 1035px;
  min-height: 237px;
  margin: 57px auto 0 22px;
}

.u-section-2 .u-text-22 {
  text-transform: none;
  letter-spacing: normal;
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0 521px 0 224px;
}

.u-section-2 .u-image-5 {
  width: 174px;
  height: 174px;
  background-image: url("images/ec6da3db-d4a7-cbc8-c959-57cb2f78738d.jpg");
  background-position: 50% 50%;
  margin: -12px auto 0 0;
}

.u-section-2 .u-btn-9 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: -162px 0 0 auto;
  padding: 10px 59px 10px 57px;
}

.u-section-2 .u-text-23 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: -36px auto 0 301px;
}

.u-section-2 .u-text-24 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 18px auto 0 302px;
}

.u-section-2 .u-text-25 {
  font-size: 0.875rem;
  margin: 20px 581px 0 302px;
}

.u-section-2 .u-btn-10 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: -78px 0 0 auto;
  padding: 10px 38px;
}

.u-section-2 .u-text-26 {
  font-size: 1.25rem;
  margin: 36px 898px 0 37px;
}

.u-section-2 .u-icon-5 {
  font-size: 0.9584em;
  vertical-align: 0px;
  margin-left: 0;
}

.u-section-2 .u-list-item-6 {
  box-shadow: 5px 5px 19px 0 rgba(0,0,0,0.15);
}

.u-section-2 .u-container-layout-6 {
  padding: 30px 18px;
}

.u-section-2 .u-group-elements-6 {
  width: 1035px;
  min-height: 237px;
  margin: 57px auto 0 22px;
}

.u-section-2 .u-text-27 {
  text-transform: none;
  letter-spacing: normal;
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0 521px 0 224px;
}

.u-section-2 .u-image-6 {
  width: 174px;
  height: 174px;
  background-image: url("images/ec6da3db-d4a7-cbc8-c959-57cb2f78738d.jpg");
  background-position: 50% 50%;
  margin: -12px auto 0 0;
}

.u-section-2 .u-btn-11 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: -162px 0 0 auto;
  padding: 10px 59px 10px 57px;
}

.u-section-2 .u-text-28 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: -36px auto 0 301px;
}

.u-section-2 .u-text-29 {
  font-size: 1.125rem;
  font-weight: 700;
  margin: 18px auto 0 302px;
}

.u-section-2 .u-text-30 {
  font-size: 0.875rem;
  margin: 20px 581px 0 302px;
}

.u-section-2 .u-btn-12 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: -78px 0 0 auto;
  padding: 10px 38px;
}

.u-section-2 .u-text-31 {
  font-size: 1.25rem;
  margin: 36px 898px 0 37px;
}

.u-section-2 .u-icon-6 {
  font-size: 0.9584em;
  vertical-align: 0px;
  margin-left: 0;
}

.u-section-2 .u-icon-7 {
  width: 64px;
  height: 64px;
  background-image: linear-gradient(white, #77aad9);
  margin: 6px 26px 15px auto;
  padding: 13px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2210px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3.4375rem;
  }

  .u-section-2 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-group-elements-1 {
    width: 904px;
    margin-left: 0;
  }

  .u-section-2 .u-group-elements-2 {
    width: 904px;
    margin-left: 0;
  }

  .u-section-2 .u-group-elements-3 {
    width: 904px;
    margin-left: 0;
  }

  .u-section-2 .u-group-elements-4 {
    width: 904px;
    margin-left: 0;
  }

  .u-section-2 .u-group-elements-5 {
    width: 904px;
    margin-left: 0;
  }

  .u-section-2 .u-group-elements-6 {
    width: 904px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2694px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 2467px;
  }

  .u-section-2 .u-group-elements-1 {
    width: 633px;
    min-height: 232px;
    margin-top: 29px;
    margin-left: 34px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 23px;
    margin-right: 221px;
    margin-left: 190px;
  }

  .u-section-2 .u-image-1 {
    margin-top: -51px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: -153px;
    margin-right: 2px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: 7px;
    margin-left: auto;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: 15px;
    margin-right: 333px;
    margin-left: 232px;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-top: 11px;
    margin-right: 201px;
    margin-left: 232px;
  }

  .u-section-2 .u-btn-2 {
    margin-top: -132px;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-top: 44px;
    margin-right: 479px;
    margin-left: 32px;
  }

  .u-section-2 .u-group-elements-2 {
    width: 633px;
    min-height: 232px;
    margin-top: 29px;
    margin-left: 34px;
  }

  .u-section-2 .u-text-7 {
    width: auto;
    margin-top: 23px;
    margin-right: 221px;
    margin-left: 190px;
  }

  .u-section-2 .u-image-2 {
    margin-top: -51px;
  }

  .u-section-2 .u-btn-3 {
    margin-top: -153px;
    margin-right: 2px;
  }

  .u-section-2 .u-text-8 {
    width: auto;
    margin-top: 7px;
    margin-left: auto;
  }

  .u-section-2 .u-text-9 {
    width: auto;
    margin-top: 15px;
    margin-right: 333px;
    margin-left: 232px;
  }

  .u-section-2 .u-text-10 {
    width: auto;
    margin-top: 11px;
    margin-right: 201px;
    margin-left: 232px;
  }

  .u-section-2 .u-btn-4 {
    margin-top: -132px;
  }

  .u-section-2 .u-text-11 {
    width: auto;
    margin-top: 44px;
    margin-right: 479px;
    margin-left: 32px;
  }

  .u-section-2 .u-group-elements-3 {
    width: 633px;
    min-height: 232px;
    margin-top: 29px;
    margin-left: 34px;
  }

  .u-section-2 .u-text-12 {
    width: auto;
    margin-top: 23px;
    margin-right: 221px;
    margin-left: 190px;
  }

  .u-section-2 .u-image-3 {
    margin-top: -51px;
  }

  .u-section-2 .u-btn-5 {
    margin-top: -153px;
    margin-right: 2px;
  }

  .u-section-2 .u-text-13 {
    width: auto;
    margin-top: 7px;
    margin-left: auto;
  }

  .u-section-2 .u-text-14 {
    width: auto;
    margin-top: 15px;
    margin-right: 333px;
    margin-left: 232px;
  }

  .u-section-2 .u-text-15 {
    width: auto;
    margin-top: 11px;
    margin-right: 201px;
    margin-left: 232px;
  }

  .u-section-2 .u-btn-6 {
    margin-top: -132px;
  }

  .u-section-2 .u-text-16 {
    width: auto;
    margin-top: 44px;
    margin-right: 479px;
    margin-left: 32px;
  }

  .u-section-2 .u-group-elements-4 {
    width: 633px;
    min-height: 232px;
    margin-top: 29px;
    margin-left: 34px;
  }

  .u-section-2 .u-text-17 {
    width: auto;
    margin-top: 23px;
    margin-right: 221px;
    margin-left: 190px;
  }

  .u-section-2 .u-image-4 {
    margin-top: -51px;
  }

  .u-section-2 .u-btn-7 {
    margin-top: -153px;
    margin-right: 2px;
  }

  .u-section-2 .u-text-18 {
    width: auto;
    margin-top: 7px;
    margin-left: auto;
  }

  .u-section-2 .u-text-19 {
    width: auto;
    margin-top: 15px;
    margin-right: 333px;
    margin-left: 232px;
  }

  .u-section-2 .u-text-20 {
    width: auto;
    margin-top: 11px;
    margin-right: 201px;
    margin-left: 232px;
  }

  .u-section-2 .u-btn-8 {
    margin-top: -132px;
  }

  .u-section-2 .u-text-21 {
    width: auto;
    margin-top: 44px;
    margin-right: 479px;
    margin-left: 32px;
  }

  .u-section-2 .u-group-elements-5 {
    width: 633px;
    min-height: 232px;
    margin-top: 29px;
    margin-left: 34px;
  }

  .u-section-2 .u-text-22 {
    width: auto;
    margin-top: 23px;
    margin-right: 221px;
    margin-left: 190px;
  }

  .u-section-2 .u-image-5 {
    margin-top: -51px;
  }

  .u-section-2 .u-btn-9 {
    margin-top: -153px;
    margin-right: 2px;
  }

  .u-section-2 .u-text-23 {
    width: auto;
    margin-top: 7px;
    margin-left: auto;
  }

  .u-section-2 .u-text-24 {
    width: auto;
    margin-top: 15px;
    margin-right: 333px;
    margin-left: 232px;
  }

  .u-section-2 .u-text-25 {
    width: auto;
    margin-top: 11px;
    margin-right: 201px;
    margin-left: 232px;
  }

  .u-section-2 .u-btn-10 {
    margin-top: -132px;
  }

  .u-section-2 .u-text-26 {
    width: auto;
    margin-top: 44px;
    margin-right: 479px;
    margin-left: 32px;
  }

  .u-section-2 .u-group-elements-6 {
    width: 633px;
    min-height: 232px;
    margin-top: 29px;
    margin-left: 34px;
  }

  .u-section-2 .u-text-27 {
    width: auto;
    margin-top: 23px;
    margin-right: 221px;
    margin-left: 190px;
  }

  .u-section-2 .u-image-6 {
    margin-top: -51px;
  }

  .u-section-2 .u-btn-11 {
    margin-top: -153px;
    margin-right: 2px;
  }

  .u-section-2 .u-text-28 {
    width: auto;
    margin-top: 7px;
    margin-left: auto;
  }

  .u-section-2 .u-text-29 {
    width: auto;
    margin-top: 15px;
    margin-right: 333px;
    margin-left: 232px;
  }

  .u-section-2 .u-text-30 {
    width: auto;
    margin-top: 11px;
    margin-right: 201px;
    margin-left: 232px;
  }

  .u-section-2 .u-btn-12 {
    margin-top: -132px;
  }

  .u-section-2 .u-text-31 {
    width: auto;
    margin-top: 44px;
    margin-right: 479px;
    margin-left: 32px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2021px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 11px));
    grid-auto-columns: calc(50% - 11px);
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-group-elements-1 {
    width: 520px;
    margin-left: 0;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-group-elements-2 {
    width: 520px;
    margin-left: 0;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-group-elements-3 {
    width: 520px;
    margin-left: 0;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-group-elements-4 {
    width: 520px;
    margin-left: 0;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-group-elements-5 {
    width: 520px;
    margin-left: 0;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-group-elements-6 {
    width: 520px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 3963px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 0;
  }

  .u-section-2 .u-list-1 {
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-2 .u-group-elements-1 {
    width: 328px;
    min-height: 548px;
    margin-top: 6px;
    margin-left: -6px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 0;
    margin-right: 2px;
    margin-left: 6px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 169px;
    margin-left: 77px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 61px;
    margin-right: auto;
  }

  .u-section-2 .u-text-3 {
    margin-top: -445px;
    margin-right: 0;
    margin-left: 6px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 4px;
    margin-right: 253px;
    margin-left: 7px;
  }

  .u-section-2 .u-text-5 {
    margin-top: 0;
    margin-right: 2px;
    margin-left: 0;
  }

  .u-section-2 .u-btn-2 {
    margin-top: 332px;
    margin-right: 85px;
  }

  .u-section-2 .u-text-6 {
    margin-top: -173px;
    margin-right: 33px;
    margin-left: 33px;
  }

  .u-section-2 .u-group-elements-2 {
    width: 328px;
    min-height: 548px;
    margin-top: 6px;
    margin-left: -6px;
  }

  .u-section-2 .u-text-7 {
    margin-top: 0;
    margin-right: 2px;
    margin-left: 6px;
  }

  .u-section-2 .u-image-2 {
    margin-top: 169px;
    margin-left: 77px;
  }

  .u-section-2 .u-btn-3 {
    margin-top: 61px;
    margin-right: auto;
  }

  .u-section-2 .u-text-8 {
    margin-top: -445px;
    margin-right: 0;
    margin-left: 6px;
  }

  .u-section-2 .u-text-9 {
    margin-top: 4px;
    margin-right: 253px;
    margin-left: 7px;
  }

  .u-section-2 .u-text-10 {
    margin-top: 0;
    margin-right: 2px;
    margin-left: 0;
  }

  .u-section-2 .u-btn-4 {
    margin-top: 332px;
    margin-right: 85px;
  }

  .u-section-2 .u-text-11 {
    margin-top: -173px;
    margin-right: 33px;
    margin-left: 33px;
  }

  .u-section-2 .u-group-elements-3 {
    width: 328px;
    min-height: 548px;
    margin-top: 6px;
    margin-left: -6px;
  }

  .u-section-2 .u-text-12 {
    margin-top: 0;
    margin-right: 2px;
    margin-left: 6px;
  }

  .u-section-2 .u-image-3 {
    margin-top: 169px;
    margin-left: 77px;
  }

  .u-section-2 .u-btn-5 {
    margin-top: 61px;
    margin-right: auto;
  }

  .u-section-2 .u-text-13 {
    margin-top: -445px;
    margin-right: 0;
    margin-left: 6px;
  }

  .u-section-2 .u-text-14 {
    margin-top: 4px;
    margin-right: 253px;
    margin-left: 7px;
  }

  .u-section-2 .u-text-15 {
    margin-top: 0;
    margin-right: 2px;
    margin-left: 0;
  }

  .u-section-2 .u-btn-6 {
    margin-top: 332px;
    margin-right: 85px;
  }

  .u-section-2 .u-text-16 {
    margin-top: -173px;
    margin-right: 33px;
    margin-left: 33px;
  }

  .u-section-2 .u-group-elements-4 {
    width: 328px;
    min-height: 548px;
    margin-top: 6px;
    margin-left: -6px;
  }

  .u-section-2 .u-text-17 {
    margin-top: 0;
    margin-right: 2px;
    margin-left: 6px;
  }

  .u-section-2 .u-image-4 {
    margin-top: 169px;
    margin-left: 77px;
  }

  .u-section-2 .u-btn-7 {
    margin-top: 61px;
    margin-right: auto;
  }

  .u-section-2 .u-text-18 {
    margin-top: -445px;
    margin-right: 0;
    margin-left: 6px;
  }

  .u-section-2 .u-text-19 {
    margin-top: 4px;
    margin-right: 253px;
    margin-left: 7px;
  }

  .u-section-2 .u-text-20 {
    margin-top: 0;
    margin-right: 2px;
    margin-left: 0;
  }

  .u-section-2 .u-btn-8 {
    margin-top: 332px;
    margin-right: 85px;
  }

  .u-section-2 .u-text-21 {
    margin-top: -173px;
    margin-right: 33px;
    margin-left: 33px;
  }

  .u-section-2 .u-group-elements-5 {
    width: 328px;
    min-height: 548px;
    margin-top: 6px;
    margin-left: -6px;
  }

  .u-section-2 .u-text-22 {
    margin-top: 0;
    margin-right: 2px;
    margin-left: 6px;
  }

  .u-section-2 .u-image-5 {
    margin-top: 169px;
    margin-left: 77px;
  }

  .u-section-2 .u-btn-9 {
    margin-top: 61px;
    margin-right: auto;
  }

  .u-section-2 .u-text-23 {
    margin-top: -445px;
    margin-right: 0;
    margin-left: 6px;
  }

  .u-section-2 .u-text-24 {
    margin-top: 4px;
    margin-right: 253px;
    margin-left: 7px;
  }

  .u-section-2 .u-text-25 {
    margin-top: 0;
    margin-right: 2px;
    margin-left: 0;
  }

  .u-section-2 .u-btn-10 {
    margin-top: 332px;
    margin-right: 85px;
  }

  .u-section-2 .u-text-26 {
    margin-top: -173px;
    margin-right: 33px;
    margin-left: 33px;
  }

  .u-section-2 .u-group-elements-6 {
    width: 328px;
    min-height: 548px;
    margin-top: 6px;
    margin-left: -6px;
  }

  .u-section-2 .u-text-27 {
    margin-top: 0;
    margin-right: 2px;
    margin-left: 6px;
  }

  .u-section-2 .u-image-6 {
    margin-top: 169px;
    margin-left: 77px;
  }

  .u-section-2 .u-btn-11 {
    margin-top: 61px;
    margin-right: auto;
  }

  .u-section-2 .u-text-28 {
    margin-top: -445px;
    margin-right: 0;
    margin-left: 6px;
  }

  .u-section-2 .u-text-29 {
    margin-top: 4px;
    margin-right: 253px;
    margin-left: 7px;
  }

  .u-section-2 .u-text-30 {
    margin-top: 0;
    margin-right: 2px;
    margin-left: 0;
  }

  .u-section-2 .u-btn-12 {
    margin-top: 332px;
    margin-right: 85px;
  }

  .u-section-2 .u-text-31 {
    margin-top: -173px;
    margin-right: 33px;
    margin-left: 33px;
  }

  .u-section-2 .u-icon-7 {
    margin-bottom: 59px;
  }
}