 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1558px;
}

.u-section-1 .u-text-1 {
  margin: 26px auto 0 0;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 33px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 1369px;
  --radius: 20px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-group-1 {
  --radius: 10px;
  height: auto;
  min-height: 749px;
  width: 1081px;
  margin: 30px auto 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-form-1 {
  height: 616px;
  margin-top: 3px;
  margin-bottom: 0;
}

.u-section-1 .u-form-group-1 {
  margin-left: 0;
}

.u-section-1 .u-label-1 {
  letter-spacing: 0px;
  width: 65px;
}

.u-section-1 .u-input-1 {
  background-image: none;
  --radius: 10px;
}

.u-section-1 .u-form-group-2 {
  margin-left: 0;
}

.u-section-1 .u-label-2 {
  letter-spacing: 0px;
  width: 65px;
}

.u-section-1 .u-input-2 {
  background-image: none;
  --radius: 10px;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-label-3 {
  letter-spacing: 0px;
  width: 65px;
}

.u-section-1 .u-input-3 {
  background-image: none;
  --radius: 10px;
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
}

.u-section-1 .u-label-4 {
  letter-spacing: 0px;
  width: 65px;
}

.u-section-1 .u-input-4 {
  background-image: none;
  --radius: 10px;
}

.u-section-1 .u-form-group-5 {
  margin-left: 0;
  margin-bottom: 15px !important;
}

.u-section-1 .u-label-5 {
  letter-spacing: 0px;
  width: 65px;
}

.u-section-1 .u-input-5 {
  background-image: none;
  --radius: 10px;
}

.u-section-1 .u-form-group-6 {
  margin-left: 0;
}

.u-section-1 .u-label-6 {
  letter-spacing: 0px;
  width: 65px;
}

.u-section-1 .u-input-6 {
  background-image: none;
  --radius: 10px;
}

.u-section-1 .u-form-group-7 {
  margin-left: 0;
}

.u-section-1 .u-label-7 {
  width: 65px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-size: 1.125rem;
  --radius: 10px;
  font-weight: 400;
  padding: 16px 59px 17px 58px;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  font-size: 1.25rem;
  background-image: none;
  margin: -91px 194px 0 auto;
  padding: 0;
}

.u-section-1 .u-group-2 {
  width: 1080px;
  --radius: 10px;
  height: auto;
  min-height: 441px;
  margin: 66px auto 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-form-2 {
  height: 616px;
  width: 1080px;
  margin: 2px 0 0;
}

.u-section-1 .u-form-group-8 {
  margin-left: 0;
  margin-bottom: 15px !important;
}

.u-section-1 .u-label-8 {
  letter-spacing: 0px;
  width: 65px;
}

.u-section-1 .u-input-7 {
  background-image: none;
  --radius: 10px;
}

.u-section-1 .u-form-group-9 {
  margin-left: 0;
  margin-bottom: 15px !important;
}

.u-section-1 .u-label-9 {
  letter-spacing: 0px;
  width: 65px;
}

.u-section-1 .u-input-8 {
  background-image: none;
  --radius: 10px;
}

.u-section-1 .u-form-group-10 {
  margin-left: 0;
  margin-bottom: 15px !important;
}

.u-section-1 .u-label-10 {
  letter-spacing: 0px;
  width: 65px;
}

.u-section-1 .u-input-9 {
  background-image: none;
  --radius: 10px;
}

.u-section-1 .u-form-group-11 {
  margin-left: 0;
  margin-bottom: 15px !important;
}

.u-section-1 .u-label-11 {
  letter-spacing: 0px;
  width: 65px;
}

.u-section-1 .u-input-10 {
  background-image: none;
  --radius: 10px;
}

.u-section-1 .u-form-group-12 {
  margin-left: 0;
}

.u-section-1 .u-label-12 {
  width: 65px;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  text-transform: uppercase;
  font-size: 1.125rem;
  --radius: 10px;
  font-weight: 400;
  padding: 6px 59px 8px 58px;
}

.u-section-1 .u-btn-4 {
  border-style: solid;
  font-size: 1.25rem;
  background-image: none;
  margin: -79px 192px 0 auto;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1479px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 1129px;
  }

  .u-section-1 .u-group-1 {
    width: 940px;
    height: auto;
  }

  .u-section-1 .u-input-1 {
    height: 50px;
  }

  .u-section-1 .u-input-2 {
    height: 50px;
  }

  .u-section-1 .u-input-3 {
    height: 50px;
  }

  .u-section-1 .u-input-4 {
    height: 50px;
  }

  .u-section-1 .u-input-5 {
    height: 50px;
  }

  .u-section-1 .u-input-6 {
    height: 50px;
  }

  .u-section-1 .u-btn-1 {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 53px;
  }

  .u-section-1 .u-group-2 {
    width: 940px;
    height: auto;
  }

  .u-section-1 .u-form-2 {
    width: 940px;
  }

  .u-section-1 .u-btn-4 {
    margin-right: 52px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1207px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-group-1 {
    width: 720px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
  }

  .u-section-1 .u-group-2 {
    width: 720px;
  }

  .u-section-1 .u-form-2 {
    width: 720px;
  }

  .u-section-1 .u-btn-4 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1307px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
  }

  .u-section-1 .u-group-2 {
    width: 540px;
  }

  .u-section-1 .u-form-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-btn-1 {
    padding-right: 59px;
    padding-left: 58px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -93px;
    margin-right: 126px;
  }

  .u-section-1 .u-group-2 {
    width: 340px;
    min-height: 610px;
  }

  .u-section-1 .u-form-2 {
    width: 340px;
  }

  .u-section-1 .u-btn-3 {
    padding: 7px 41px 7px 40px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: -81px;
    margin-right: auto;
  }
}